/* Center-align the entire content */
.wy-nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Adjust width as needed */
.wy-nav-content-wrap {
    max-width: 100%; /* You can adjust this value to control the width of the content */
}

/* Increase the base text color contrast */
.wy-nav-content p, .wy-nav-content li, .wy-nav-content span {
    color: #1a1a1a; /* very dark gray, almost black */
}

.wy-nav-content code, 
.wy-nav-content pre {
    color: #000000; /* black */
    background-color: #f8f8f8; /* very light gray */
    border: 1px solid #eaeaea; /* light gray border */
}

.wy-nav-content h1, 
.wy-nav-content h2, 
.wy-nav-content h3, 
.wy-nav-content h4, 
.wy-nav-content h5, 
.wy-nav-content h6 {
    color: #333333; /* dark gray */
    font-weight: bold; /* makes the font bold */
}

.wy-nav-content div.admonition.note {
    background-color: #e7f5fe; /* Light blue background for notes */
    border-color: #b3d4fc; /* Matching light blue border */
}

.wy-nav-content div.admonition.warning {
    background-color: #fff3cd; /* Light yellow background for warnings */
    border-color: #ffeeba; /* Matching light yellow border */
}