/* Center-align the entire content */
.wy-nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Adjust width as needed */
.wy-nav-content-wrap {
    max-width: 100%; /* You can adjust this value to control the width of the content */
}

/* Increase the base text color contrast */
body {
    color: #1a1a1a; /* very dark gray, almost black */
}

/* Make code elements stand out */
code, pre {
    color: #000000; /* black */
    background-color: #f8f8f8; /* very light gray */
    border: 1px solid #eaeaea; /* light gray border */
}

/* Enhance headers for better visibility */
h1, h2, h3, h4, h5, h6 {
    color: #333333; /* dark gray */
    font-weight: bold; /* makes the font bold */
}

/* Adjust note background */
div.admonition.note {
    background-color: #e7f5fe; /* Light blue background for notes */
    border-color: #b3d4fc; /* Matching light blue border */
}

/* Adjust warning background */
div.admonition.warning {
    background-color: #fff3cd; /* Light yellow background for warnings */
    border-color: #ffeeba; /* Matching light yellow border */
}